<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="ISO-8859-1">
<link th:href="@{/css/base.css}" rel="stylesheet" />
<link th:href="@{/css/vendor.css}" rel="stylesheet" />
<link th:href="@{/css/main.css}" rel="stylesheet" />

<script type="text/javascript" th:src="@{/js/modernizr.js}"></script>
<title>Insert title here</title>
</head>
<body>

 <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div id="top" class="s-wrap site-wrapper">

        <!-- site header
        ================================================== -->
        <header class="s-header">

            <div class="header__top">
                <div class="header__logo">
                    <a class="site-logo" th:href="@{/}">
                       <h1>BDO</h1>
                    </a>
                </div>

             

                <!-- toggles -->
               
                <a href="#0" class="header__menu-toggle"><span>Menu</span></a>

            </div> <!-- end header__top -->

            <nav class="header__nav-wrap">

                <ul class="header__nav">
                    <li class="current"><a th:href="@{/}" title="">Accueil</a></li>
                    <li class="has-children">
                        <a href="#0" title="">Categories</a>
                        <ul class="sub-menu">
                        <li><a th:each="cat: ${Categories}" th:text="${cat}" th:href="@{/publications/searchBycat/{searchTerm}(searchTerm=${cat})}" ></a></li>   
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="#0" title="">Discipline</a>
                        <ul class="sub-menu">
                        <li><a  th:each="dis: ${disciplines}" th:text="${dis}" th:href="@{/publications/searchBydis/{searchTerm}(searchTerm=${dis})}"></a></li>
                       
                        </ul>
                    </li>
                     <li class="has-children">
                        <a href="#0" title="">Organisme</a>
                        <ul class="sub-menu">
                        <li><a  th:each="org: ${organismes}" th:text="${org}" th:href="@{/publications/searchByorg/{searchTerm}(searchTerm=${org})}"></a></li>
                       
                        </ul>
                    </li>
                    <li><a th:href="@{/auteurs}">Auteurs</a></li>
                   
                </ul> <!-- end header__nav -->

                <ul class="header__social">
                    <li class="ss-facebook">
                        <a href="https://facebook.com/">
                            <span class="screen-reader-text">Facebook</span>
                        </a>
                    </li>
                    <li class="ss-twitter">
                        <a href="#0">
                            <span class="screen-reader-text">Twitter</span>
                        </a>
                    </li>
                    <li class="ss-dribbble">
                        <a href="#0">
                            <span class="screen-reader-text">Dribbble</span>
                        </a>
                    </li>
                    <li class="ss-pinterest">
                        <a href="#0">
                            <span class="screen-reader-text">Behance</span>
                        </a>
                    </li>
                </ul>

            </nav> <!-- end header__nav-wrap -->

            

        </header> <!-- end s-header -->

        <div class="s-content">
			         <form th:action="@{/auteurs/orderby}" method="Post">
			               <div>
			                  <label for="sampleInput">Trier par</label>
			                   <div class="ss-custom-select">
                                        <select class="full-width" id="sampleRecipientInput" name="selectedoption" required>
                                            <option th:text="Nom" th:value="Nom"></option> 
                                            <option th:text="Prenom" th:value="Prenom"></option> 
                                            <option th:text="nbr" th:value="nbr"></option>                                              
                                        </select>
                               </div>
			               </div>  
			                <input class="btn--primary full-width" type="submit" value="Trier">
			        </form>
        
            <div class="masonry-wrap row">
            
					<table class="table table-dark" style="font-size:15px;">
					  <thead>
					    <tr>
					    <th>Nom</th>
						<th>Prenom</th>
						<th>Adresse</th>
						<th>Grade</th>
						<th>Organisme</th>
						<th>nbr pub</th>
						<th>publiactions</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr th:each="auteur: ${Auteurs}">
							<td th:text="${auteur.Nom}"></td>
							<td th:text="${auteur.Prenom}"></td>
							<td th:text="${auteur.Adresse}"></td>
							<td th:text="${auteur.Grade}"></td>
							<td th:text="${auteur.Organisme}"></td>
							<td th:text="${auteur.nbr}"></td>
							<td><a th:href="@{/auteurs/publications/{id}(id=${auteur.id})}"
							class="btn btn-primary a-btn-slide-text"> <span
							class="glyphicon glyphicon-edit" aria-hidden="true"></span>
							<span><strong>publications</strong></span>
							</a></td>
					     </tr>
					  </tbody>
					</table>

                <div class="masonry">
    
                    <div class="grid-sizer"></div>
    
                </div> <!-- end masonry -->

            </div> <!-- end masonry-wrap -->
        </div> <!-- end s-content -->


        <!-- footer
        ================================================== -->
        <footer class="s-footer">
            <div class="row">
                <div class="column large-full footer__content">
                    <div class="footer__copyright">
                        <span>© Copyright BDO 2020</span> 
                        <span>Realisé par <a href="https://www.styleshout.com/">Mustapha Baimik,Oumeima El Yazaji , Anouar El Bardaoui</a></span>
                    </div>
                </div>
            </div>

            <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"></a>
            </div>
        </footer>

    </div> <!-- end s-wrap -->


<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>