<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="ISO-8859-1">
<link th:href="@{/css/base.css}" rel="stylesheet" />
<link th:href="@{/css/vendor.css}" rel="stylesheet" />
<link th:href="@{/css/main.css}" rel="stylesheet" />

<script type="text/javascript" th:src="@{/js/modernizr.js}"></script>
<title>Insert title here</title>
</head>
<body>


<div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div id="top" class="s-wrap site-wrapper">

        <!-- site header
        ================================================== -->
        <header class="s-header">

            <div class="header__top">
                <div class="header__logo">
                    <a class="site-logo" th:href="@{/}">
                       <h1>BDO</h1>
                    </a>
                </div>

             

                <!-- toggles -->
               
                <a href="#0" class="header__menu-toggle"><span>Menu</span></a>

            </div> <!-- end header__top -->

            <nav class="header__nav-wrap">

                <ul class="header__nav">
                   
                    
                    <li><a th:href="@{/admin}">Publications</a></li>
                    <li><a th:href="@{/admin/addpubform}">Ajouter publication</a></li>
                    <li><a th:href="@{/admin/auteurs}">Auteurs</a></li>
                    <li><a th:href="@{/admin/addauteurform}">Ajouter auteur</a></li>
                   
                   
                </ul> <!-- end header__nav -->

                <ul class="header__social">
                    <li class="ss-facebook">
                        <a href="https://facebook.com/">
                            <span class="screen-reader-text">Facebook</span>
                        </a>
                    </li>
                    <li class="ss-twitter">
                        <a href="#0">
                            <span class="screen-reader-text">Twitter</span>
                        </a>
                    </li>
                    <li class="ss-dribbble">
                        <a href="#0">
                            <span class="screen-reader-text">Dribbble</span>
                        </a>
                    </li>
                    <li class="ss-pinterest">
                        <a href="#0">
                            <span class="screen-reader-text">Behance</span>
                        </a>
                    </li>
                </ul>

            </nav> <!-- end header__nav-wrap -->

            

        </header> <!-- end s-header -->

        <div class="s-content">
        
            <h1>Creer un auteur:</h1><br>
            <div class="masonry-wrap row">
            
                     <div class="column large-12 tab-full">
        
                            <form action="#" th:action="@{/admin/update/{id}(id=${auteur.id})}" th:object="${auteur}" method="post">
                                <div>
                                    <label for="sampleInput">Nom</label>
                                    <input class="full-width" type="text" placeholder="Nom" th:field="*{Nom}" id="Nom" required>
                                </div>
                                <div>
                                    <label for="sampleInput">Prenom</label>
                                    <input class="full-width" type="text" placeholder="Prenom" th:field="*{Prenom}" id="Prenom" required>
                                </div>
                                <div>
                                    <label for="sampleInput">Adresse</label>
                                    <input class="full-width" type="text" th:field="*{Adresse}" id="Adresse" placeholder="Adresse" required>
                                </div>
                                <div>
                                    <label for="sampleInput">Grade</label>
                                    <input class="full-width" type="text" th:field="*{Grade}" id="Grade" placeholder="Grade" required>
                                </div>

                                 <div>
                                    <label for="sampleInput">Organisme</label>
                                    <input class="full-width" type="text" th:field="*{Organisme}" id="Organisme" placeholder="Organisme" required>
                                </div>
                                
                                <div>
                                   
                                    <input class="full-width" type="hidden" th:field="*{nbr}" id="nbr" required>
                                </div>
                                                                         
                                <input class="btn--primary full-width" type="submit" value="Modifier">
                            </form>

                        </div>

                <div class="masonry">
    
                    <div class="grid-sizer"></div>
                </div> <!-- end masonry -->

            </div> <!-- end masonry-wrap -->

           

        </div> <!-- end s-content -->


        <!-- footer
        ================================================== -->
        <footer class="s-footer">
            <div class="row">
                <div class="column large-full footer__content">
                    <div class="footer__copyright">
                        <span>© Copyright BDO 2020</span> 
                        <span>Realisé par <a href="https://www.styleshout.com/">Mustapha Baimik,Oumeima El Yazaji , Anouar El Bardaoui</a></span>
                    </div>
                </div>
            </div>

            <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"></a>
            </div>
        </footer>

    </div> <!-- end s-wrap -->


<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>